/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 * 
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
 * can be referenced here using a relative path.
 * 
 * You're free to add application-wide styles to this file and they'll appear
 * at the top of the compiled file, but it's generally better to create a new
 * file per style scope.
 * 

 *require_tree .
 */
/* START_HIGHLIGHT */
/* line 8, D:/work/depot/app/assets/stylesheets/products.css.scss */
.products table {
  border-collapse: collapse;
}
/* line 12, D:/work/depot/app/assets/stylesheets/products.css.scss */
.products table tr td {
  padding: 5px;
  vertical-align: top;
}
/* line 17, D:/work/depot/app/assets/stylesheets/products.css.scss */
.products .list_image {
  width: 60px;
  height: 70px;
}
/* line 22, D:/work/depot/app/assets/stylesheets/products.css.scss */
.products .list_description {
  width: 60%;
}
/* line 25, D:/work/depot/app/assets/stylesheets/products.css.scss */
.products .list_description dl {
  margin: 0;
}
/* line 29, D:/work/depot/app/assets/stylesheets/products.css.scss */
.products .list_description dt {
  color: #244;
  font-weight: bold;
  font-size: larger;
}
/* line 35, D:/work/depot/app/assets/stylesheets/products.css.scss */
.products .list_description dd {
  margin: 0;
}
/* line 40, D:/work/depot/app/assets/stylesheets/products.css.scss */
.products .list_actions {
  font-size: x-small;
  text-align: right;
  padding-left: 1em;
}
/* line 46, D:/work/depot/app/assets/stylesheets/products.css.scss */
.products .list_line_even {
  background: #e0f8f8;
}
/* line 50, D:/work/depot/app/assets/stylesheets/products.css.scss */
.products .list_line_odd {
  background: #f8b0f8;
}

/* END_HIGHLIGHT */
/* line 1, D:/work/depot/app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, D:/work/depot/app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, D:/work/depot/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, D:/work/depot/app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 23, D:/work/depot/app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 26, D:/work/depot/app/assets/stylesheets/scaffolds.css.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, D:/work/depot/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, D:/work/depot/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 42, D:/work/depot/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, D:/work/depot/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, D:/work/depot/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, D:/work/depot/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* START_HIGHLIGHT */
/* line 20, D:/work/depot/app/assets/stylesheets/application_back_end.css.scss */
#banner {
  background: #9c9;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #282;
  text-align: center;
}
/* line 28, D:/work/depot/app/assets/stylesheets/application_back_end.css.scss */
#banner img {
  float: left;
}

/* line 33, D:/work/depot/app/assets/stylesheets/application_back_end.css.scss */
#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

/* line 42, D:/work/depot/app/assets/stylesheets/application_back_end.css.scss */
#columns {
  background: #141;
}
/* line 45, D:/work/depot/app/assets/stylesheets/application_back_end.css.scss */
#columns #main {
  margin-left: 17em;
  padding: 1em;
  background: white;
}
/* line 51, D:/work/depot/app/assets/stylesheets/application_back_end.css.scss */
#columns #side {
  float: left;
  padding: 1em 2em;
  width: 13em;
  background: #141;
  /* START_HIGHLIGHT */
  /* END_HIGHLIGHT */
}
/* line 58, D:/work/depot/app/assets/stylesheets/application_back_end.css.scss */
#columns #side form, #columns #side div {
  display: inline;
}
/* line 62, D:/work/depot/app/assets/stylesheets/application_back_end.css.scss */
#columns #side input {
  font-size: small;
}
/* line 66, D:/work/depot/app/assets/stylesheets/application_back_end.css.scss */
#columns #side #cart {
  font-size: smaller;
  color: white;
}
/* line 70, D:/work/depot/app/assets/stylesheets/application_back_end.css.scss */
#columns #side #cart table {
  border-top: 1px dotted #595;
  border-bottom: 1px dotted #595;
  margin-bottom: 10px;
}
/* line 79, D:/work/depot/app/assets/stylesheets/application_back_end.css.scss */
#columns #side ul {
  padding: 0;
}
/* line 81, D:/work/depot/app/assets/stylesheets/application_back_end.css.scss */
#columns #side ul li {
  list-style: none;
}
/* line 83, D:/work/depot/app/assets/stylesheets/application_back_end.css.scss */
#columns #side ul li a {
  color: #bfb;
  font-size: small;
}

/* END_HIGHLIGHT */
/* line 94, D:/work/depot/app/assets/stylesheets/application_back_end.css.scss */
.depot_form fieldset {
  background: #efe;
}
/* line 97, D:/work/depot/app/assets/stylesheets/application_back_end.css.scss */
.depot_form fieldset legend {
  color: #dfd;
  background: #141;
  font-family: sans-serif;
  padding: 0.2em 1em;
}
/* line 106, D:/work/depot/app/assets/stylesheets/application_back_end.css.scss */
.depot_form form label {
  width: 5em;
  float: left;
  text-align: right;
  padding-top: 0.2em;
  margin-right: 0.1em;
  display: block;
}
/* line 115, D:/work/depot/app/assets/stylesheets/application_back_end.css.scss */
.depot_form form select, .depot_form form textarea, .depot_form form input {
  margin-left: 0.5em;
}
/* line 119, D:/work/depot/app/assets/stylesheets/application_back_end.css.scss */
.depot_form form .submit {
  margin-left: 4em;
}
/* line 123, D:/work/depot/app/assets/stylesheets/application_back_end.css.scss */
.depot_form form br {
  display: none;
}
